body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
 .popup {
    position: fixed; /* Change to fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the popup */
    background-color: #fff;
    padding: 20px;
     border:2px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    text-align: center;
    display: none;
    z-index: 9999; /* Make sure it's above other content */
  }
  .popup img {
    max-width: 100px;
     margin-bottom: 10px;
drop-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
font-size: 30px; /* Increase font size */
    padding: 5px; /* Increase padding */
  }
  .ok-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  .ok-button:hover {
    background-color: blue;
  }
.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-container {
    position: relative;

}

.toggle-password {
    position: absolute;
    top: 20%;
    right: 10px;
    cursor: pointer;
}
button[type="button"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="button"]:hover {
            background-color: #45a049;
        }

#iframeContainer {
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
        #myIframe {
            width: 100%;
            height: 100%;
            border: none;
        }
